<%- include("header") -%>
<div class="main">
    <div class="box" id="heading">
        <h1> <%= listName %></h1>
    </div>
    <div class="box">
        <% wishList.forEach(function(wish) { %>
            <form action="/delete/<%= wish._id %>/<%= listName %>" method="post">
                <div class="item">
                    <input type="checkbox" onChange = "this.form.submit()">
                    <p> <%= wish.name %> </p>
                </div>
            </form>
        <% }) %>
        <form class="item" action="/" method="post">
            <input type="text" name="wish" placeholder="Add wish">
            <button type="submit" name="button" value= "<%= listName %>">+</button>
        </form>
    </div>
</div>
<%- include("footer") -%>
